[submodule "empower-agent"]
	path = empower-agent
	url = https://github.com/rriggio/empower-agent.git
[submodule "empower-runtime"]
	path = empower-runtime
	url = https://github.com/rriggio/empower-runtime.git
[submodule "empower-openwrt-15.05"]
	path = empower-openwrt-15.05
	url = https://github.com/rriggio/empower-openwrt-15.05.git
[submodule "empower-packages-15.05"]
	path = empower-packages-15.05
	url = https://github.com/rriggio/empower-packages-15.05.git
